/*!
    @import /amethyst_rendy/src/sprite/mod.rs#Sprites
    Sprites
*/

List((
    texture_width: 453,
    texture_height: 306,
    sprites: [
        (
            // normal.south
            x: 64,
            y: 77,
            width: 24,
            height: 32,
        ),
    ],
))